In [1]:
import pandas as pd

In [8]:
series = pd.read_csv('../../data/female_birth.csv', header=0, parse_dates=[0], index_col=0, squeeze=True) # squeeze transforma em Series

In [10]:
series

Date
1959-01-01                                   35
1959-01-02                                   32
1959-01-03                                   30
1959-01-04                                   31
1959-01-05                                   44
                                           ...
1959-12-28                                   52
1959-12-29                                   48
1959-12-30                                   55
1959-12-31                                   50
Daily total female births in California    1959
Name: Daily total female births in California, 1959, Length: 366, dtype: int64

In [11]:
type(series)

pandas.core.series.Series

In [12]:
print(series.size)

366

In [14]:
series.describe()

count     366.000000
mean       47.218579
std       100.472534
min        23.000000
25%        37.000000
50%        42.000000
75%        46.000000
max      1959.000000
Name: Daily total female births in California, 1959, dtype: float64