In [6]:
import pandas as pd

In [7]:
data = {'a': 3, 'b': 'cat', 'c': 25}

In [8]:
data

{'a': 3, 'b': 'cat', 'c': 25}

In [9]:
type(data)

dict

In [10]:
pd.Series(data)

a      3
b    cat
c     25
dtype: object

In [11]:
one_d = pd.Series([100, 'cat', 310, 'gog', 500], ['Amy', 'Bobby', 'Cat', 'Don', 'Emma'])
one_d

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [12]:
one_d = pd.Series([100, 'cat', 310, 'gog', 500], index=['Amy', 'Bobby', 'Cat', 'Don', 'Emma'])
one_d

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [13]:
one_d.loc[['Cat', 'Emma']]

Cat     310
Emma    500
dtype: object

In [18]:
one_d.loc['Cat']

310

In [19]:
one_d.loc[['Cat']]

Cat    310
dtype: object

In [15]:
one_d.iloc[[1, 3]]

Bobby    cat
Don      gog
dtype: object

In [16]:
one_d.iloc[1]

'cat'

In [20]:
'cat' in one_d

False

In [21]:
'Cat' in one_d

True

In [23]:
d = {'A': pd.Series([100., 200., 300.], index=['maca', 'pera', 'laranja']),
     'B': pd.Series([111., 222., 333., 444.], index=['maca', 'pera', 'laranja', 'melao'])}

In [25]:
df = pd.DataFrame(d)

In [26]:
df

             A      B
laranja  300.0  333.0
maca     100.0  111.0
melao      NaN  444.0
pera     200.0  222.0

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df.index

Index(['laranja', 'maca', 'melao', 'pera'], dtype='object')

In [29]:
df.columns

Index(['A', 'B'], dtype='object')

In [30]:
pd.DataFrame(df, index=['laranja', 'melao', 'maca'], columns=['A'])

             A
laranja  300.0
melao      NaN
maca     100.0